* {
    margin: 0px;
    padding: 0px;
}

/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: #FF900E1A;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Nav Part Start */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 230px;
}

.header-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 40px;

}

nav ul li {
    list-style: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* Nav Part End */

/* Banner Part Start */

.banner {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 85px;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.banner-button,
.feature-button {
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-bottom: 50px;
}

.banner img {
    border-radius: 8px;
    margin-bottom: 45px;
}

/* Banner Part End */

/* Features Part Start */

.features {
    display: flex;
    align-items: center;
    gap: 76px;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.feature-title {
    width: 470px;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.feature-title .list {
    color: #727272;
}

.feature-title .our {
    color: #131313;
}

.feature-title .feature {
    color: #FF900E;
}

.feature-description {
    width: 540px;
    color: #727272;
    font-size: 16px;
    margin-bottom: 34px;
}

/* Features Part End */

/* Love and Enjoy Part Start */
hr {
    width: 5px;
    height: 106px;
    border: none;
    background-color: #FF900E;
}

.love-enjoy {
    display: flex;
    gap: 50px;
    margin-top: 120px;
}

.love-enjoy img {
    height: 980px;
    width: 700px;
}

/* .love{
    margin-top: 50px;
} */
.love-info {
    display: flex;
    gap: 20px;
}

.love-title {
    width: 468px;
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.love-description {
    width: 586px;
    color: #727272;
    font-size: 16px;
    margin-bottom: 30px;
}

.enjoy-items {
    display: grid;
    grid-template-columns: 1, 1fr;
}

.enjoy-item {
    width: 586px;
    border-radius: 8px;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.item-title {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.item-description {
    color: #727272;
    font-size: 16px;
}

.experience-item {
    width: 350px;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    background: #FF900E;
}

.experience-title {
    color: #FFFFFF;
    font-size: 65px;
    font-weight: 700;

}

.experience-description {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;
}

/* Love And Enjoy Part End */

/* Some Facts Part Start */
.some-facts {
    text-align: center;
    margin-top: 100px;
}

.some-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.some-description {
    width: 540px;
    color: #727272;
    font-size: 16px;
}

.facts-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px;
    margin-top: 100px;
}

.facts-item {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 50px;
}

.facts-item-title {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
}

.facts-item-description {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}

/* Some Facts Part End */

/* Sponspors Part Start */
.sponspors{
    text-align: center;
    margin-top: 100px;
}
.sponspor-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}
.sponspor-description{
    width: 540px;
    color: #727272;
    font-size: 16px;
}
/* Sponspors Part End */


/* Footer Part Start */
footer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFF4E7;
    border-radius: 8px;
    margin-top: 100px;
    margin-bottom: 50px;
}

footer p {
    font-size: 20px;
    color: #424242;
}

.icon {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

/* Footer Part End */

/* Mobile Screen Start */

@media screen and (max-width: 767px) {
    nav {
        flex-direction: column;
        padding: 30px 10px;
        gap: 30px;
    }

    .banner {
        padding: 0px 20px;
    }

    .header-title {
        font-size: 35px;
    }

    .banner-title {
        font-size: 35px;
    }

    .banner img {
        width: 100%;
    }

    .features {
        flex-direction: column-reverse;
        text-align: center;
    }

    .pictures {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-title {
        font-size: 25px;
    }

    .feature-description {
        width: 100%;
        font-size: 12px;
    }

    .facts-items {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .love-enjoy {
        flex-direction: column-reverse;
    }

    footer p {
        font-size: 15px;
    }
}

/* Mobile Screen End */

/* Tablet Screen Start */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    nav {
        flex-direction: column;
        padding: 30px 20px;
        gap: 30px;
    }

    .banner {
        padding: 0px 20px;
    }

    .banner-title {
        font-size: 45px;
    }

    .banner img {
        width: 100%;
    }

    .features {
        flex-direction: column-reverse;
        text-align: center;
    }

    .pictures {
        grid-template-columns: repeat(2, 1fr);

    }

    .love-enjoy {
        flex-direction: column-reverse;
    }

    .facts-items {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    footer p {
        font-size: 15px;
    }
}

/* Tablet Screen End */